{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/main-template.css' %}">
    <title>{{ user }}</title>
</head>
<body>
    <div class="screen">
        <div class="logo">
            {{ user }}
        </div>
        <div class="links">
            {% for link in links %}
                <a href="{{ link.link_url }}" class="link">{{ link.link_name }}</a>
            {% endfor %}
        </div>
    </div>
</body>
</html> {% endcomment %}
<h1>{{ username }}</h1>