<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <section class="vh-100" style="background-color: #2779e2;">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">
      
              <h1 class="text-white mb-4">Вход</h1>
                <form action="{% url 'login' %}" method="post">
              <div class="card" style="border-radius: 15px;">
                {% csrf_token %}
                <div class="card-body">
      
                  <div class="row align-items-center pt-4 pb-3">
                    <div class="col-md-3 ps-5">
      
                      <h6 class="mb-0">Имя пользователя</h6>
      
                    </div>
                    <div class="col-md-9 pe-5">
      
                      {% comment %} <input type="text" class="form-control form-control-lg" /> {% endcomment %}
                      {{ form.username }}
      
                    </div>
                  </div>

                  <div class="row align-items-center pt-4 pb-3">
                    <div class="col-md-3 ps-5">
      
                      <h6 class="mb-0">Пароль</h6>
      
                    </div>
                    <div class="col-md-9 pe-5">
      
                      {% comment %} <input type="password" class="form-control form-control-lg" /> {% endcomment %}
                      {{ form.password }}
      
                    </div>
                  </div>

      
                 
                  <hr class="mx-n3">
      
                  <div class="px-5 py-4">
                    <button type="submit" class="btn btn-success btn-lg">Войти</button>
                    <button type="submit" class="btn btn-primary btn-lg">Зарегистрироваться</button>
                  </div>
      
                </div>
              </div>
            </form>
            </div>
        
          </div>
        </div>
      </section>
</body>
</html>