{% load static %}
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/index.css" %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <title>ClickLinks</title>
</head>
<body>
    <main>
        <div class="logo">
            ClickLinks
        </div>
        <div class="info-block">
            <h1>Создай свой сайт визитку</h1>
            <img src="{% static "images/phone-1.png" %}" alt="">
            <a href="#">Попробовать сейчас</a>
        </div>
        <div class="info-block">
            <h1>Следи за статистикой посещений</h1>
            <img src="{% static "images/phone-2.png" %}" alt="">
        </div>
        <div class="info-block">
            <h1>Позволь ИИ собрать тебе полноценный сайт-визитку</h1>
            <img src="{% static "images/phone-3.png" %}" alt="">
        </div>
        <div class="info-block">
            <h1>Присоединяйся к нам уже сейчас</h1>
            <a href="#">Присоединиться</a>
        </div>
    </main>
    <img src="{% static "images/borderIPhone.svg" %}" class="border">
</body>
<img src="{% static "images/camera.svg" %}" class="camera">
</html>