{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="container">
    <h1 class="mt-5">Смена пароля</h1>
    <p class="lead">
        Мы отправили вам по электронной почте инструкции по установке пароля, если у вас есть учетная запись, указав указанный вами адрес электронной почты. Вы должны получить их в ближайшее время.
    </p>
    <p>
        Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы указали адрес, на который указывали при регистрации, и проверьте папку со спамом.
    </p>
  </div>

{% endblock %}
