{% extends "publications/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% block content %}
<div class="container">
    <h1 class="mt-5" style="color: white;">Список Исполнителей</h1>
    <div class="row mt-4 overflow-auto">

        {% for executor in executors %}
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <a href="{% url "users:user_info" executor.username %}"><h5 class="card-title">{{ executor }}</h5></a>
                    <p class="card-text"><strong>На платформе с : </strong>{{ executor.date_joined|date:"d.m.Y" }}</p>
                    <p class="card-text"><strong>Проведенные сделки:</strong> 1234
                    </p>
                    <p class="card-text"><strong>Рейтинг:</strong> 4.9</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
{% bootstrap_javascript %}