{% load django_bootstrap5 %}
{% bootstrap_css %}
<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="{% url "users:login" %}" class="nav-link" aria-current="page">Войти</a></li>
      <li class="nav-item"><a href="{% url "users:logout" %}" class="nav-link">Выйти</a></li>
      <li class="nav-item"><a href="{% url "users:password_change" %}" class="nav-link">Сменить пароль</a></li>
      <li class="nav-item"><a href="{% url "users:password_reset" %}" class="nav-link">Восстановать пароль</a></li>
      <li class="nav-item"><a href="{% url "users:registration" %}" class="nav-link">Зарегистрироваться</a></li>
      <li class="nav-item"><a href="{% url "users:profile" %}" class="nav-link">Профиль</a></li>
    </ul>
  </header>
</div>
<main class="d-flex justify-content-center py-3">
  {% block content %}{% endblock content %}
</main>
  

