*{
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #e0e1dd;
    font-family: 'Ubuntu';
}
.screen{
    width: 768px;
    min-height: 1600px;
    margin: 0 auto 0 auto;
    background-color: #415a77;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .logo{
        font-size: 64px;
        margin-top: 150px;
        color: white;
    }
    .links{
        display: flex;
        flex-direction: column;
        margin-top: 200px;
    }
        .link{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-size: 24px;
            background-color: #1b263b;
            width: 700px;
            height: 70px;
            border-radius: 10px;
            margin-top: 30px;

            color: white;
        }
        .link:hover{
            background-color: #0d1b2a;
        }